DISCORD_TOKEN=5bb3e3b5fe52dbd3fabc3f896404541ec774bb475a9931cef0c3016a3f6dd92e
MONGO_TOKEN=
GIPHY_TOKEN=
WEBHOOK_ID=&permissions=8&integration_type=0&scope=bot
WEBHOOK_TOKEN=1312854242205237432
DISCORD_ID=1312854242205237432

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI= 
